# .NET
bin/
obj/
*.user
*.suo
*.userprefs

# NuGet
*.nupkg
.nuget/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.sln.docstates

# JetBrains Rider
.idea/
*.sln.iml

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
